<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a href="/homepage" class="navbar-brand">Home</a>
  <div class="navbar-header">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link" href="/usersform">Users</a></li>
      <li class="nav-item"><a class="nav-link" href="/authorsform">Authors</a></li>
      <li class="nav-item"><a class="nav-link" href="/booksform">Books</a></li>
      <li class="nav-item"><a class="nav-link" href="/genresform">Genres</a></li>
      <li class="nav-item"><a class="nav-link" href="/buytradesellform">BuyTradeSell</a></li>
    </ul>
  </div>
</nav>


<div class="container">
  <div class="jumbotron">
    <legend><b>User Form</b></legend>
    <form class="" action="/usersform" method="post">
      <div class="form-group">
        <label for="">First Name:</label>
        <input type="text" name="fname">
      </div>
      <div class="form-group">
        <label for="">Last Name:</label>
        <input type="text" name="lname">
      </div>
      <div class="form-group">
        <label for="">Location:</label>
        <input type="text" name="location">
      </div>
      <div>
        <a href="https://www.latlong.net/">Find Your Latitude and Longitude Here!</a>
      </div>
      <br>
      <div class="form-group">
        <label for="">Lat:</label>
        <input type="text" name="lat">
      </div>
      <div class="form-group">
        <label for="">Long:</label>
        <input type="text" name="lon">
      </div>
      <input type="submit" value="Submit">
    </form>
  </div>
</div>


<div class="container">
  <table class="table">
    <h3>Users</h3>
    <thead>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Location</th>
      <th>Long</th>
      <th>Lat</th>
    </thead>
    <tbody>
      {{#each users}}
      <tr id="{{user_id}}">
        <td>{{user_id}}</td>
        <td>{{fname}}</td>
        <td>{{lname}}</td>
        <td>{{location}}</td>
        <td>{{lat}}</td>
        <td>{{lon}}</td>
        <td><button onclick="deleteUser({{user_id}})">Delete</button></td>
        <td><a href="/updateUser/{{user_id}}">Update</a></td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>

<script>
  function deleteUser(id) {

    console.log("delete id:" + id);
    var req = new XMLHttpRequest();
    var row = document.getElementById(id);
    row.parentNode.removeChild(row);

    console.log("Deleting Row");

    req.open("DELETE", "/usersform/" + id, true);
    req.addEventListener('load', function () {
      if (req.status >= 200 && req.status < 400) {
        console.log("No Errors in Deletion");
      }
      else {
        console.log("Error: " + req.statusText);
      }
    })
    req.send(id);
    event.preventDefault();
  }
</script>

<!--BootStrap JavaScript-->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
  crossorigin="anonymous"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
  crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
  crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
  crossorigin="anonymous"></script>